h1 {
  color: #F1E4E8;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  background: #242423;
  width: 100vw;
  height: 100vh;
}

.boardRed {
  display: grid;
  grid-template-columns: repeat(7,1fr);
  grid-template-rows: repeat(6,1fr);
  align-items: center;
  align-content: center;
  background-color: black;
  border: 5px solid #E71D36;
  border-radius: 5%;
}

.boardBlue {
  display: grid;
  grid-template-columns: repeat(7,1fr);
  grid-template-rows: repeat(6,1fr);
  align-items: center;
  align-content: center;
  background-color: black;
  border: 5px solid #6DC0D5;
  border-radius: 5%;
}

.square {
  width: 90px;
  height: 90px;
  background-color: #333533;
  color: azure;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}